# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Nix Flake Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Run flake check
        run: nix flake check --log-format bar-with-logs

  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Check formatting
        run: nix fmt -- --ci

  build:
    name: Build Package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Build package
        run: nix build --log-format bar-with-logs

      - name: Test CLI
        run: ./result/bin/nix-search --help
